*{

    padding: 0;
    margin: 0;
    font-family: 'Teko', sans-serif;
  
}

body {

    background-image: url(../APOD/imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
        
header {

    height: 10%;
    width: 100%;
    background-color: black;
}

h1 {
    display: flex;
    margin-left: 40%;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: thistle;;
    font-weight: bold;
    font-size: 50px;
}

img {
    height: 400px; width: 800px;
    margin-top: 40px; 
    margin-left: 260px;
    margin-bottom: 40px;
    border-radius: 7px;
   border-style: solid;
   border-width: 5px;
   border-color: black;
}

#data {
    height: 40px;
    width: 300px;
    margin-left: 40%;
    margin-top: 50px;
    border-radius: 5px;
    background-color: thistle;
    color: #000411;
    border-width: 1px;
    border-color: #AEB7B3;
    font-weight: bold;
    font-size: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#btn {
    height: 40px;
    width: 90px;
    margin-left: 48%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: thistle;
    color: #000411;
    border-width: 1px;
    border-color: #AEB7B3;
    font-weight: bold;
    font-size: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#descricaoUm {

    color: black;
    font-weight: bold;
    font-size: large;
    margin-left: 50px;
    margin-bottom: 50px; 
    margin-top: 150px;
}

#descricao {

    color: black;
}

span {

    font-weight: bold;
    font-size: 40px;
    margin-left: 510px;
    
}

footer {

    height: 60px;
    width: 100%;
    background-color: black;
    color: thistle;
    position: fixed;
    bottom: 0;
}

